#logo {
    max-height: 70px; /* Ajuste conforme a altura do header */
    width: auto; /* Mantém a proporção */
    padding: 10px; /* Adiciona um pouco de espaço ao redor do logo */
    object-fit: contain; /* Garante que a imagem seja totalmente visível */
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #0a1f44;
    color: #ff7f00;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 8vh;
    position: fixed;  
    top: 0;  
    left: 0;
    right: 0;
    z-index: 1000;  
  }
  
  header h1 {
    margin: 0;
    flex: 1;
  }
  
  header h1 a {
    list-style: none;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, font-size 0.3s ease;
  }
  
  header nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  header nav a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    transition: color 0.3s ease, font-size 0.3s ease;
    position: relative; /* Necessário para o underline animado */
  }
  
  header nav a.active {
    color: #ff7f00;
  }
  
  header nav a:hover {
    color: #ff8000;
    font-size: 1.2rem;
    transform: scale(1.1);
  }
  
 
  header nav a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0%; 
    height: 2px;
    background-color: #f39c12;
    transition: width 0.3s ease;
  }
  
  header nav a:hover::after {
    width: 100%; /
  }
  
  header .menu-icon {
    display: none;  
    font-size: 30px;
    cursor: pointer;
  }
  

.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8vh; 
}

.sidebar {
    background-color: #666666;
    padding: 20px;
    width: 250px;
    color: white;
    flex-shrink: 0;
    box-sizing: border-box;
    position: fixed; 
    height: 100vh; 
    overflow-y: auto; 
    z-index: 999; 
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar label {
    display: block;
    margin-bottom: 10px;
    padding-top: 5%;
}

.sidebar input[type="checkbox"] {
    margin-right: 10px;
}

.sidebar select {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

.content {
    margin-left: 270px;
    flex-grow: 1;
    padding: 20px;
    min-width: 0;
    box-sizing: border-box;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #ff7f00;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.options {
    margin-bottom: 20px;
}

.options h2 {
    margin-top: 0;
}

.player-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.player-grid a{
    text-decoration: none;
    color: inherit;
}
.player-card {
    background-color: #0a1f44;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.player-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.sort-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.sort-bar select {
    padding: 5px;
}

/* Responsividade */

@media (max-width: 1024px) {
    .player-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        padding-top: 8vh;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
        position: relative;
        height: 53vh;
    }

    header .menu-icon {
        display: block; /* Exibe o ícone hambúrguer */
    }

    header nav {
        display: none; /* Esconde o menu de navegação por padrão */
        flex-direction: column;
        width: 100%;
        background-color: #0a1f44;
        position: absolute;
        top: 8vh; /* Fixa abaixo do header */
        left: 0;
        padding: 10px;
    }

    header nav.active {
        display: flex; /* Exibe o menu quando a classe "active" for adicionada */
    }

    header nav a {
        padding: 10px;
    }

    .content {
        margin-left: 0; /* Ajusta para não sobrepor a sidebar */
    }
}

@media (max-width: 480px) {
    .player-grid {
        grid-template-columns: 1fr;
    }

    .search-bar input {
        padding: 8px;
    }

    .search-bar button {
        padding: 8px;
    }
}